body{
    min-height: 100vh;
    background: whitesmoke;
    display: flex;
    align-items:center;
    justify-content: center;
}

.calculator{
    width: 300px;
    height: 500px;
    box-shadow: 4px 4px 30px black;
    width: 300px;
    border-radius: 13px;
    background: gray;
    overflow: hidden;
    
}

form input{
    width: 89%;
    height: 110px;
    border: none;
    border-radius: 12px;
    font-size: 2rem;
    padding: 1rem;
    color: white;
    background: black;
    text-align: right;
    pointer-events: none;
    
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 22px;
}
button{
    flex: 0 0 22%;
    margin: 5px 0;
    border: 1px solid #000;
    width: 60px;
    height: 58px;
    font-size: 22px;
    font-weight: 1000;
    border-radius: 6px;
    cursor: pointer;
    
}
.btn-yellow{
    background: rebeccapurple;
    color: whitesmoke;
}
.btn-grey{
    background: lightskyblue;
    color: whitesmoke;
}
.btn-equal{
    background: green;
}
.btn-clear{
    background: red;
}